.game__question-answers {
  list-style: none;
  padding: 0;
  margin: 0;
}

.game__question-answers__item {
  padding: 8px;
  font-size: 1.4em;
  border: solid 2px #000;
  margin-bottom: 10px;
  cursor: pointer;
}

.game-view {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.game__content {
  margin-bottom: auto;
  padding: 5px;
}

.game__buttons {
  margin-top: auto;
  text-align: right;
  padding: 10px;
}

.game__countdown {
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}

.game__content__question {
  font-size: 1.5em;
}
